:root{
    --primary_color_playstation: #fff;
    --secondary_color_playstation: #2D64E6;
    --evidence_color_playstation: #CD3D0F; 
    --darkest_color_playstation: #000;
    --dark_color_playstation: #1F1F1F;
    --darklight_color_playstation: #747170;
}

/* #region general rules */
body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 20px;
}

h6{
    font-size: 13px;
}

p,
.btn
{
    font-size: 14px;
}

.p_75{
    padding: 0.75rem;
}

.mt_750{
 margin-top: 7.5rem;
}

.p_static{
 position: static !important;
}

.secondary_color{
    color: var(--secondary_color_playstation);
}

.darklight_color{
    color:var(--darklight_color_playstation)
}

.bg_dark_color{
    background-color: var(--dark_color_playstation);
}
/* #endregion general rules */

/* #region rules for navbar */
.arrow_::after{
    content:none;
}

.arrow_.show img{
    transform: rotate(180deg);
}

.bullet_ li a::before{
    content:"\2022";
    color: var(--secondary_color_playstation);
    display: inline-block;
    margin-right: 0.75rem;
}

.bg_none:hover{
    background-color: transparent;
    box-shadow: 1px 1px 4px 1px #888;
}
/* #endregion rules for navbar */

.hero_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 590px;
}

/* #region playstation_5 section */
#site_main>.playstation_5>.container{
    padding-top: 2rem;
}

.game_img img{
    border-radius: 1.5rem;
}

.ps5_card{
 border-bottom: 2px solid var(--secondary_color_playstation);
}
/* #endregion playstation_5 section */

.takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 615px;
}

/* #region Rules for btn */
.shadow_none:focus,
.shadow_none:active:focus
{
    box-shadow: none;
}

.outline_red_btn{
    background-color: var(--evidence_color_playstation);
    color: var(--primary_color_playstation);
}

.outline_red_btn:hover{
    outline-style: solid;
    outline-color: var(--darkest_color_playstation);
    outline-width: 2px;
    outline-offset: -4px;
    transition: outline-offset 0.15s;
    color: var(--primary_color_playstation);
}

.outline_dark_btn{
    background-color: var(--dark_color_playstation);
    color: var(--primary_color_playstation);
}

.outline_dark_btn:hover{
    outline-style: solid;
    outline-color: var(--primary_color_playstation);
    outline-width: 2px;
    outline-offset: -4px;
    transition: outline-offset 0.15s;
    color: var(--primary_color_playstation);
}

.outline_secondary_btn{
    background-color: var(--secondary_color_playstation);
    color: var(--primary_color_playstation);
}

.outline_secondary_btn:hover{
    outline-style: solid;
    outline-color: var(--darkest_color_playstation);
    outline-width: 2px;
    outline-offset: 2px;
    transition: outline-offset 0.15s;
    color: var(--primary_color_playstation);
}
/* #endregion Rules for btn */

@media screen and (min-width:576px){
    h2{
        font-size: 38px;
    }
}

@media screen and (min-width:768px){
    .w_md_50{
        width: 50%;
    }
}

@media screen and (min-width:992px){
    .hero_img{
        height: initial;
        aspect-ratio: 2 / 1;
    }

    .takes_two{
        height: initial;
        aspect-ratio: 2 / 1;
    }

    p,
    .btn
    {
        font-size: 16px;
    }

    #site_main>.container{
        padding-top: 2.75rem;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 28px;
    }

    h4{
        font-size: 22px;
    }

    h6{
        font-size: 14px;
    }

    sup{
        font-size: 10px;
    }

    .hero_img img,
    .takes_two img
    {
        width: 220px;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
    .hero_img img,
    .takes_two img
    {
        width: 400px;
    }
}

/* prima di attivare quanto sotto chiedere ai tutor se l'immagine deve anche alzarsi oltre ad allargarsi */
@media screen and (min-width:1200px){ 
    .hero_img{
        aspect-ratio: initial;
        height: 600px;
        background-position: top;
    }

    .takes_two{
        aspect-ratio: initial;
        height: 600px;
        background-position: top;
    }
}