body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.p_75{
    padding: 0.75rem;
}

.p_static{
 position: static !important;
}

.arrow_::after{
    content:none;
}

.arrow_.show i{
    transform: rotate(180deg);
}

.fs_75{
    font-size: 0.75rem;
}