body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.p_75{
    padding: 0.75rem;
}

.p_static{
 position: static !important;
}

.arrow_::after{
    content:none;
}

.arrow_.show img{
    transform: rotate(180deg);
}

.bullet_ li a::before{
    content:"\2022";
    color:blue;
    display: inline-block;
    margin-right: 0.75rem;
}

.bg_none:hover{
    background-color: transparent;
    box-shadow: 1px 1px 4px 1px #888;
}